<div class="wrapper">
  <!-- Todo tu contenido va aquí -->
  <div class="container my-5">
  </div>
  <!-- Footer -->
  <footer class="text-center text-lg-start">
     <div class="row">
      <div class="col">
        <img src="assets/Images/Logo.png" alt="Logo">
      </div>
      <div class="col">
         <p class="text-center">SIGUENOS EN</p>
         <div class="d-flex justify-content-center">
          <div class="col">
            <a class="facebook-link" href="https://www.facebook.com/"><i class="bi bi-facebook bi-lg">Facebook</i></a>
          </div>
          <div class="col">
            <a class="whatsapp-link" href="https://web.whatsapp.com/"><i class="bi bi-whatsapp bi-lg">Whatsapp</i></a>
          </div>
          <div class="col">
            <a class="youtube-link" href="https://www.youtube.com/"><i class="bi bi-youtube  bi-lg">Youtube</i></a>
          </div>
         </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>INICIO DE SECCION</p>
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
            <div class="col text-start">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </div>

     </div>
     <hr>
     <div class="row">
      <div class="d-flex justify-content-center">
        <p>Copyright © 2023 HubSpot, Inc.</p>
      </div>
     </div>
  </footer>
  <!-- Footer -->
</div>
<!-- End of .wrapper -->
