<div class="wrapper">
  <!-- Todo tu contenido va aquí -->
  <div class="container my-5">
  </div>
  <!-- Footer -->
  <footer class="text-center text-lg-start">
     <div class="row">
      <div class="col">
        <img src="assets/Images/Logo.png" alt="Logo">
      </div>
      <div class="col">
         <h1 class="text-center">SIGUENOS EN</h1>
         <div class="d-flex justify-content-center">
          <div class="col">
            <a class="facebook-link" href="https://www.facebook.com/"><i class="bi bi-facebook bi-lg">Facebook</i></a>
          </div>
          <div class="col">
            <a class="whatsapp-link" href="https://web.whatsapp.com/"><i class="bi bi-whatsapp bi-lg">Whatsapp</i></a>
          </div>
          <div class="col">
            <a class="youtube-link" href="https://www.youtube.com/"><i class="bi bi-youtube  bi-lg">Youtube</i></a>
          </div>
         </div>
      </div>
      <div class="col">
        <h1 class="text-center">SUSCRIBETE</h1>
        <div class="mb-3 text-center">
          <label for="exampleFormControlInput1" class="form-label d-block">Correo Electrónico</label>
          <div class="d-inline-block">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="width: 200px;">
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success">SUSCRIBETE</button>
        </div>
      </div>
     </div>
     <hr>
     <div class="row">
      <div class="d-flex justify-content-center">
        <p>Copyright © 2023 HubSpot, Inc.</p>
      </div>
     </div>
  </footer>
  <!-- Footer -->
</div>
<!-- End of .wrapper -->
