<div class="wrapper">
<footer class="bg-body-tertiary text-center">
  <div class="container p-4">
    <section class="mb-4">
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 facebook-link" target="_blank" href="https://www.facebook.com/" role="button"
        ><i class="bi bi-facebook bi-lg"></i></a>

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 whatsapp-link" target="_blank" href="https://web.whatsapp.com/" role="button"
        ><i class="bi bi-whatsapp bi-lg"></i></a>

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 youtube-link" target="_blank" href="https://www.youtube.com/" role="button"
        ><i class="bi bi-youtube  bi-lg"></i></a>

    </section>

    <section class="">
      <form action="">
        <div class="row">
          <div class="col-12 text-center">
              <p>{{'InfoF2'|translate}}</p>
          </div>
      </div>
        <div class="row">
          <div class="col text-end">
              <button type="submit" class="btn btn-outline-success" routerLink="/Singup">{{'InfoF3'|translate}}</button>
          </div>
          <div class="col text-start">
              <button type="submit" class="btn btn-outline-success" routerLink="/Login">{{'InfoF4'|translate}}</button>
          </div>
      </div>
      </form>
    </section>
    <br>
    <section class="mb-4">
      <p *ngFor="let parrafo of Parrafos">
        {{parrafo.path}}
      </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    Copyright © {{ currentYear }} HubSpot, Inc.
  </div>
</footer>
</div>

