#bienvenida {
  position: relative;
  background-image: url('https://wallpapers.com/images/hd/multimedia-1920-x-1200-wallpaper-13aa6nzf9opjz2j1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

#bienvenida:hover h1, #bienvenida:hover p {
  transform: scale(1.05);
}

#galeria {
  padding: 50px 0;
  background-color: #141414;
}

.gallery-container {
  display: flex;
  justify-content: center;
}

.gallery-scroll {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
  justify-content: center;
}

.image-item {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-item:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.image-item.selected {
  border: 3px solid #fff;
  transform: scale(1.05);
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  section h2 {
    font-size: 2rem;
  }

  .gallery-scroll {
    gap: 10px;
    padding: 10px 0;
  }

  .image-item {
    width: 180px;
    height: 300px;
  }

  .image-item:hover {
    transform: scale(1.05);
  }
}



