
.custom-navbar {
  background: linear-gradient(to right, #1c1c1c, #444);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid #555;
}


.logo-area {
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.logo-area:hover {
  background-color: #0a58ca;
}

.logo-img {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.logo-area:hover .logo-img {

  filter: brightness(0) saturate(100%) invert(34%) sepia(95%) saturate(688%) hue-rotate(177deg) brightness(96%) contrast(102%);
  transform: scale(1.1);
}


img {
  transition: transform 0.2s ease;
}

img:hover {
  transform: scale(1.5);
}


.navbar-nav .nav-link {
  color: #ddd !important;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #07bdd5 !important;
  font-weight: bold;
  transform: scale(1.05);
}


.Ayuda-link,
.home-link,
.history-link {
  font-size: 16px;
  transition: font-size 0.3s ease;
}

.Ayuda-link:hover,
.home-link:hover,
.history-link:hover {
  font-size: 21px;
}


a:hover {
  color: #07bdd5;
  cursor: pointer;
}


.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #333;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
}

.dropdown-menu .dropdown-item {
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #444;
  color: #07bdd5;
}


button {
  background-color: #222;
  color: #FFF;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #07bdd5;
  color: #000;
}


.selectAltura {
  height: 47px;
  width: 180px;
  border-radius: 8px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

