<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/Home"><img src="../../assets/Images/Logo.png" width="90" height="90" alt="..."></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active home-link" aria-current="page" routerLink="/Home"><i class="bi bi-house-door"><b>Home</b></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active history-link" routerLink="/Historia"><i class="bi bi-book-half"><b>History</b></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active Ayuda-link" routerLink="/Ayuda"><i class="bi bi-question-octagon"><b>Help</b></i></a>
        </li>
      </ul>
      <div>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>

