<section class="cover-section" style="background-image: url('https://3.bp.blogspot.com/-Rt0ZuBNGu4Q/WtJwJ6omGSI/AAAAAAAABzc/bYAAOS5UjjggVYEj21yDie-XV-gcKGbigCLcBGAs/s1600/jp3.gif'); height: 200px; background-size: cover; background-position: center;">
  <div class="container text-center text-white d-flex justify-content-center align-items-center h-100">
    <h1 class="display-4" style="color: black;">La Magia de la Historia y Transformación</h1>
  </div>
</section>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/Home"><img [src]="logo" width="90" height="90" alt="..."></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active history-link" routerLink="/Historia"><i class="bi bi-book-half"><b>{{'History'|translate}}</b></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active Ayuda-link" routerLink="/Informacion"><i class="bi bi-question-octagon"><b>{{'Information'|translate}}</b></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active Ayuda-link linkprod" role="button" data-bs-toggle="dropdown"><i class="bi bi-question-octagon"><b>Categorias</b></i></a>
          <ul class="dropdown-menu">
            <li><a (click)="click()" class="dropdown-item" >Documentales</a></li>
            <li><a (click)="click()" class="dropdown-item" >Entretimiento</a></li>
            <li><a (click)="click()" class="dropdown-item" >Arte</a></li>
            <li><a (click)="click()" class="dropdown-item" >Ciencias</a></li>
            <li><a (click)="click()" class="dropdown-item" >Conocimientos</a></li>
            <li><a (click)="click()" class="dropdown-item" >Tecnologias</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active history-link" routerLink="/Multimedia"><i class="bi bi-book-half"><b>{{'Multimedia'|translate}}</b></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active Ayuda-link" routerLink="/Foro"><i class="bi bi-question-octagon"><b>{{'Foro'|translate}}</b></i></a>
        </li>
      </ul>

      <div class="d-flex justify-content-center align-items-center">
        <div class="mb-3 d-flex">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <select class="form-select zonal_select selectAltura" (change)="ChangeLang($event)" name="" id="">
                <option [selected]="lang==='en'" value="en">English </option>
                <option [selected]="lang==='fr'" value="fr">Français </option>
                <option [selected]="lang==='es'" value="es">Español </option>
              </select>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <div class="input-group">
              <input id="searchQuery" name="searchQuery" class="form-control" type="search" placeholder="{{'search'|translate}}" aria-label="Search" style="width: 350px;">
              <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>






