<h1 class="text-center">Noticias</h1>
<div class="form-group">
  <label for="file">Seleccionar archivo:</label>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="file" (change)="handleFileInput($event)">
    <label class="custom-file-label" for="file">Elegir archivo</label>
  </div>
</div>

<div *ngIf="fileUrl">
  <img [src]="fileUrl" alt="Archivo cargado" style="max-width: 300px;" />
  <br>
  <button (click)="convertirArchivo()">Convertir</button>
  <button (click)="compartirArchivo()">Compartir</button>
</div>

<div class="mb-3 d-flex justify-content-center">
  <form class="d-flex" role="search">
    <div class="input-group">
      <input id="searchQuery" name="searchQuery"  class="form-control" type="search" placeholder="{{'search'|translate}}" aria-label="Search" style="width: 350px;">
      <button (click)="mostrarData()" class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
    </div>
  </form>
</div>

<div class="row">
  <div class="row">
    <div class="col-4" *ngFor="let archivos of listararchivos">
      <div class="alert alert-primary d-grid gap-2" role="alert">
        <div class="card card-body">
          <p class="text-center"><b>{{ archivos.name }}</b></p>
          <p>{{ archivos.content }}</p>
          <p>{{archivos.date}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



