<div class="row">
  <app-carrousel></app-carrousel>
</div>
<br>
<div class="row">
  <p class="text-center">Explore una variedad de contenido emocionante, desde Documentales
    y arte hasta la tecnologia. Disfrute de historias y conocimientos que lo inspire y transforme
    sus puntos de vistas en el mundo de hoy.
  </p>
  <h2 class="text-center">{{'info'|translate}}</h2>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
      <div class="card flip-card" style="width: 18rem;">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img [src]="img" class="card-img-top img-fluid" alt="Libro" style="width: 304px; height: 236px;">
          </div>
          <div class="flip-card-back">
            <div class="card-body">
              <h5 class="card-title">{{'book'|translate}}</h5>
              <p class="card-text">{{parrafo}}</p>
              <div class="d-flex justify-content-center">
                <a (mouseover)="reproducir1()" href="#" class="btn btn-primary" routerLink="/Home/Libros">Abrir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col d-flex justify-content-center">
      <div class="card flip-card" style="width: 18rem;">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img [src]="img2" class="card-img-top img-fluid" alt="Mapa" style="width: 304px; height: 236px;">
          </div>
          <div class="flip-card-back">
            <div class="card-body">
              <h5 class="card-title">{{'Play'|translate}}</h5>
              <p class="card-text">{{parrafo2}}</p>
              <div class="d-flex justify-content-center">
                <a (mouseover)="reproducir2()" href="#" class="btn btn-primary" routerLink="/Home/Juegos">Abrir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col d-flex justify-content-center">
      <div class="card flip-card" style="width: 18rem;">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img [src]="img3" class="card-img-top img-fluid" alt="Pago" style="width: 304px; height: 236px;">
          </div>
          <div class="flip-card-back">
            <div class="card-body">
              <h5 class="card-title">{{'News'|translate}}</h5>
              <p class="card-text">{{parrafo3}}</p>
              <div class="d-flex justify-content-center">
                <a (mouseover)="reproducir3()" href="#" class="btn btn-primary" routerLink="/Home/Noticias">Abrir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<hr>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="well well-sm">
              <form [formGroup] = "nuevocomentario" (submit) = "guardarcomentario()" class="form-horizontal" method="post">
                  <fieldset>
                      <legend class="text-center header">{{'Info2'|translate}}</legend>

                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="bi bi-person-fill bigicon">Usuario</i></span>
                          <div class="col-md-8">
                              <input formControlName = "usuario" id="fname"  name="user" type="text" placeholder="User" class="form-control">
                              <span *ngIf="nuevocomentario.get('usuario')?.invalid && nuevocomentario.get('usuario')?.touched" class="text-danger">Ingrese el Usuario</span>
                          </div>
                      </div>

                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="bi bi-envelope-at-fill bigicon">Correo Electronico</i></span>
                          <div class="col-md-8">
                              <input id="email" name="email" type="text" placeholder="Email Address" class="form-control" formControlName="correo">
                              <span *ngIf="nuevocomentario.get('correo')?.invalid && nuevocomentario.get('correo')?.touched" class="text-danger">Ingrese el Correo</span>
                          </div>
                      </div>
                      <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="bi bi-calendar bigicon">Fecha</i></span>
                        <div class="col-md-8">
                          <input type="datetime-local" class="form-control" id="fecha1" formControlName="fecha">
                          <span *ngIf="nuevocomentario.get('fecha')?.invalid && nuevocomentario.get('fecha')?.touched" class="text-danger">Seleccione la fecha</span>
                        </div>
                      </div>
                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="bi bi-chat-dots-fill bigicon">Comentarios</i></span>
                          <div class="col-md-8">
                              <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here." rows="7" style="resize: none;" formControlName="comentario"></textarea>
                              <span *ngIf="nuevocomentario.get('comentario')?.invalid && nuevocomentario.get('comentario')?.touched" class="text-danger">Ingrese un comentario</span>
                          </div>
                      </div>
                      <br>
                      <div class="form-group">
                          <div class="col-md-12 text-center">
                              <button type="submit" class="btn btn-primary btn-lg" [disabled]="nuevocomentario.invalid">Enviar</button>
                          </div>
                      </div>
                  </fieldset>
              </form>
          </div>
      </div>
  </div>
</div>
<br>

