<div class="container contenido-principal">
<div class="row">
  <app-carrousel></app-carrousel>
</div>
<div class="row">
  <p class="text-center">Aparece por primera vez en Japón a principios del siglo XX como forma de
    hacer frente al gigante Disney. Estos dibujos animados a modo de caricaturas
    japonesas son la representación en la gran pantalla de muchas de las famosas
    historias que podemos leer en los mangas.</p>
  <h2 class="text-center">Seleccione la categoria</h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col d-flex justify-content-center">
      <div class="card flip-card" style="width: 18rem;">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/Images/Libro.png" class="card-img-top img-fluid" alt="Libro" style="width: 304px; height: 236px;">
          </div>
          <div class="flip-card-back">
            <div class="card-body">
              <h5 class="card-title">LIBRO</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Repite lo mismo para las otras tarjetas -->

    <div class="col d-flex justify-content-center">
      <div class="card flip-card" style="width: 18rem;">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/Images/Mapa.jpg" class="card-img-top img-fluid" alt="Mapa" style="width: 304px; height: 236px;">
          </div>
          <div class="flip-card-back">
            <div class="card-body">
              <h5 class="card-title">MAPA</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col d-flex justify-content-center">
      <div class="card flip-card" style="width: 18rem;">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/Images/Pago.jpg" class="card-img-top img-fluid" alt="Pago" style="width: 304px; height: 236px;">
          </div>
          <div class="flip-card-back">
            <div class="card-body">
              <h5 class="card-title">PAGO</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
